<!DOCTYPE html>
<html lang="{{ .Lang }}" data-theme="dark">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    <div class="{{ if .IsPage }}layout{{ else }}container{{ end }}">
        {{- if .IsPage }}<div class="container">{{- end }}
        {{- partial "header.html" . -}}
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- if .IsPage }}</div>{{- end }}
        {{- if and .IsPage (not (in (slice "about" "projects") .Layout)) }}{{- partial "toc.html" . -}}{{- end }}
    </div>
    {{- if .IsPage }}{{- partial "back-to-top.html" . -}}{{- end }}
    {{- partial "scripts.html" . -}}
</body>
</html>
